html,
body {
  margin: 0;
  padding: 0;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  5% {
    transform: translateX(0);
    opacity: 1;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  15% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  width: 100vw;
  height: 300px;
  margin-top: 15vh;
}

.pic-ctn > p {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;
  animation: display 100s infinite;
}

.pic{
  max-width: 200px;
}