*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.countryName {
    display: block;
    width: 20px;
    height: 20px;
    background: yellow;
}

.countryLabelBg{
    fill: #30BCED;   
  }